# Terraform state files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Exclude any .terraform directories
.terraform/

# Terraform plan files
*.tfplan

# Terraform variables files
#*.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore specific configuration files (if used)
#terraform.tfvars
#terraform.tfvars.json

# Lock file
.terraform.lock.hcl

# Ignore sensitive files
# If you have any other sensitive files that should not be committed
# add them here
.DS_Store

# amplify
node_modules
.amplify
amplify_outputs*
amplifyconfiguration*

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
